$color__primary: #07254f;
$color__secondary: #0078ff;
$color__tertiary: #041329;
$color__dark: #000;
$color__light: #fff;
$color__gray: #cbd7e3;

$unit__tiny: 0.4rem;
$unit__small: 0.8rem;
$unit__normal: 1.6rem;
$unit__submedium: 2.4rem;
$unit__medium: 3.2rem;
$unit__large: 4.8rem;
$unit__huge: 6.4rem;
$unit__gigantic: 12.8rem;
