.section-features {
  max-width: 95%;
  min-height: 20rem;
  margin: -$unit__gigantic auto 0 auto;
  background: $color__light;
  box-shadow: 0 10px 10px rgba(68, 68, 68, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: $unit__gigantic;
}

.features {
  gap: $unit__normal;
  align-self: stretch;
}

.section-why-choose-us {
  max-width: 100%;
  min-height: 70rem;
}

.section-who-are-we {
  width: 100%;
  height: 50rem;
  background: rgba($color__gray, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-points {
  position: relative;
  width: 100%;
  height: 80rem;
  color: #fff;
  background: darken($color__secondary, 40%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.points {
  width: 85%;
  margin: auto;
  row-gap: $unit__gigantic;
  column-gap: $unit__large;
}

.section-reach {
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
