@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#root {
  max-width: 120rem;
  margin: auto;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  /*  font-family: 'Work Sans', sans-serif; */
  font-family: "Roboto", sans-serif;
}

.grid {
  display: grid;
}

.grid__2-cols {
  grid: 1fr/repeat(2, 1fr);
}

.grid__3-cols {
  grid: 1fr/repeat(3, 1fr);
}

.grid__4-cols {
  grid: 1fr/repeat(4, 1fr);
}

.grid__5-cols {
  grid: 1fr/repeat(5, 1fr);
}

.grid__12-cols {
  grid: 1fr/repeat(12, 1fr);
}

.svg-icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: #cbd7e3;
}

.svg-feature {
  width: 6.4rem;
  height: 6.4rem;
  fill: #cbd7e3;
}

.feature:hover .svg-feature {
  fill: #fff;
}

.svg-arrow-circle {
  width: 3.2rem;
  height: 3.2rem;
  margin: 1.6rem auto;
  fill: #0078ff;
}

.svg-point {
  position: absolute;
  top: -70px;
  left: 20px;
  width: 12.8rem;
  height: 12.8rem;
  fill: #fff;
  padding: 1.6rem;
  background: #001833;
}

.point:not(:nth-child(2)) .svg-point {
  fill: rgba(255, 255, 255, 0.25);
}

.site-header {
  color: #fff;
  width: 100%;
  padding: 0.8rem;
}

.header-bg {
  background: linear-gradient(90deg, rgba(68, 68, 68, 0.7), rgba(68, 68, 68, 0.65)), url("../assets/containers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70rem;
  z-index: -1;
}

.identity {
  margin: 1.6rem auto;
}

.logo-wrapper {
  max-width: 30rem;
}

.logo {
  width: 100%;
}

.important {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

.contact,
.track {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.detail span {
  text-transform: uppercase;
}
.detail span + span {
  display: block;
  color: #cbd7e3;
  font-size: 1.36rem;
  text-transform: unset;
}

.navbar {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.6rem;
  border-top: 1px solid #fff;
}

.site-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12.8rem;
}

.nav-link {
  display: block;
  position: relative;
  padding: 0.4rem 0.8rem;
  color: #fff;
  text-transform: uppercase;
}

.nav-link:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-19px);
  width: 100%;
  height: 5px;
  display: block;
  content: "";
  background: #0078ff;
}

.nav-link:not(:last-child)::after {
  position: absolute;
  top: 0;
  right: -50%;
  width: 2px;
  height: 100%;
  display: block;
  content: "";
  background: rgb(148, 147, 147);
}

.section-cta {
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cta__title {
  text-align: center;
  text-transform: uppercase;
}
.cta__title span {
  display: block;
  font-weight: 200;
  font-size: 3.2rem;
}
.cta__title span + span {
  font-weight: 700;
  font-size: 4.8rem;
}
.cta__link {
  text-transform: uppercase;
  padding: 1.6rem 4.8rem;
  border-radius: 50px;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.cta__link:link, .cta__link:visited {
  background: #fff;
  color: #000;
}
.cta__link:hover, .cta__link:active {
  background: #0078ff;
  color: #fff;
}

.feature {
  cursor: pointer;
  color: #000;
  border-radius: 10px;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  transition: all 0.3s;
}
.feature:hover {
  background: #0078ff;
  transform: scale(1.15);
}

.desc {
  text-align: center;
}
.desc__title {
  text-transform: uppercase;
  color: #0078ff;
}
.desc__detail {
  text-transform: capitalize;
}

.feature:hover .desc__title,
.feature:hover .desc__detail {
  color: #fff;
}

.location {
  position: relative;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}
.location__title {
  font-size: 4.8rem;
  text-transform: capitalize;
  color: #0078ff;
  text-shadow: 0 2px 4px rgba(68, 68, 68, 0.25);
}
.location::after {
  display: block;
  content: "";
  width: 80%;
  height: 4%;
  background: #cbd7e3;
  position: absolute;
  left: 10%;
  bottom: 6%;
  z-index: -1;
}

.dots {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12.8rem;
  text-align: center;
}

.dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.dot__title {
  color: #cbd7e3;
}
.dot__shape {
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
  background: #cbd7e3;
  border-radius: 50%;
}
.dot__shape::after {
  display: block;
  content: "";
  width: 50%;
  height: 50%;
  background: #aabed1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.current .dot__title {
  color: #0078ff;
}
.current .dot__shape {
  background: #fff;
  box-shadow: 0 3px 5px rgba(68, 68, 68, 0.5);
}
.current .dot__shape::after {
  background: #0078ff;
}

.visuals {
  margin: 6.4rem auto;
}

.choose-us-images {
  position: relative;
  justify-self: center;
  width: 50rem;
  z-index: 0;
}

.choose-us-image {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 4px 4px 5px rgba(0, 120, 255, 0.25);
}
.choose-us-image:hover {
  box-shadow: 4px 8px 14px 10px rgba(0, 120, 255, 0.25);
}

.image-03 {
  transform: translate(10rem, 6rem);
  z-index: 3;
  transition: all 0.3s;
}
.image-03:hover {
  transform: scale(1.07) translate(8rem, 4rem);
}

.image-02 {
  transform: translate(4rem, 2rem);
  z-index: 2;
  transition: all 0.3s;
}
.image-02:hover {
  transform: scale(1.07) translate(4rem, 2rem);
  z-index: 5;
}

.image-01 {
  transform: translate(-2rem, 5rem);
  z-index: 1;
  transition: all 0.3s;
}
.image-01:hover {
  transform: scale(1.07) translate(-2rem, 2rem);
  z-index: 5;
}

.description {
  margin: 6.4rem auto;
  justify-self: center;
  width: 75%;
  line-height: 1.8;
}
.description p {
  margin: 1.6rem auto;
}

.who-are-we {
  width: 90%;
  margin: auto;
}

.image-wrapper {
  width: 30rem;
}
.image-wrapper img {
  width: 100%;
  border-radius: 10px;
}

.ceo-message {
  padding: 0 2.4rem;
}
.ceo-message__title {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
  color: #0060cc;
  text-shadow: 0 2px 4px rgba(68, 68, 68, 0.15);
}
.ceo-message__body {
  font-size: 1.52rem;
  line-height: 1.6;
}
.ceo-message__name {
  margin: 1.6rem auto;
}
.ceo-message__name span:nth-child(1) {
  display: block;
  text-transform: uppercase;
  color: #0060cc;
  font-weight: 700;
}

.who,
.logistics {
  width: 85%;
}

.who__title,
.logistics__title {
  display: block;
  margin: 0.8rem auto;
  text-transform: uppercase;
  color: #0060cc;
  font-weight: 700;
  font-size: 1.6rem;
}

.who__body,
.logistics__body {
  font-size: 1.52rem;
  line-height: 1.6;
}

.point {
  position: relative;
}
.point__desc {
  margin-top: 4.8rem;
}
.point__title {
  text-transform: uppercase;
  line-height: 1.6;
}
.point__body {
  line-height: 1.6;
  font-size: 1.52rem;
}

.point-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url("../assets/logo-bg.png");
  background-size: cover;
  opacity: 0.15;
  width: 40%;
  height: 40%;
}

.point:nth-child(1) {
  font-size: 3.2rem;
  text-transform: capitalize;
}

.point:not(:nth-child(1)) {
  border: 2px solid rgba(0, 120, 255, 0.25);
  color: rgba(203, 215, 227, 0.5);
  padding: 1.6rem;
}

.point:nth-child(2) {
  border: 2px solid #fff;
  color: #fff;
}

.section-features {
  max-width: 95%;
  min-height: 20rem;
  margin: -12.8rem auto 0 auto;
  background: #fff;
  box-shadow: 0 10px 10px rgba(68, 68, 68, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12.8rem;
}

.features {
  gap: 1.6rem;
  align-self: stretch;
}

.section-why-choose-us {
  max-width: 100%;
  min-height: 70rem;
}

.section-who-are-we {
  width: 100%;
  height: 50rem;
  background: rgba(203, 215, 227, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-points {
  position: relative;
  width: 100%;
  height: 80rem;
  color: #fff;
  background: #001833;
  display: flex;
  align-items: center;
  justify-content: center;
}

.points {
  width: 85%;
  margin: auto;
  row-gap: 12.8rem;
  column-gap: 4.8rem;
}

/*# sourceMappingURL=main.css.map */
